h2 {
    margin-top: 1.5rem;
    font-weight: 700;
    color: #4d4d4d; 
}

.li-servicio{
    margin-top: 0.75rem;
    display: flex;
    align-items: center;
}

.h2-noticia{
    font-weight: 600;
    color: white; 
    padding: 12px;
    text-align: center;
}

.text{
    margin-top: 0.75rem;
    font-weight: 400;
}

.text-servicio {
    margin-left: 20px;
    font-weight: 400;
}

p{
    font-weight: 400;
}

h3{
    margin-top: 0.5rem;  
    font-weight: 600; 
    display: block; 
    overflow: hidden;
}

.img-servicio {
    width: 9rem; 
    height: 9rem; 
    min-width: 9rem; 
    min-height: 9rem; 
    object-fit: cover; 
}

.table-styled {
    overflow: hidden;
    width: 100%;
    border-radius: 8px;
    border: 2px solid #e7e7e7;
    background-color: white;
    color: black;

}

.table-styled table {
    width: 100%;
    border-right: hidden;
    border-left: hidden;
    border-top: hidden;
    border-bottom: hidden;
    border-collapse: collapse;
}

.table-styled table th{
    color: #4d4d4d; 
    font-weight: 700;
}

.table-styled table th, .table-styled table td {
    border: 2px solid #e7e7e7;
    padding: 8px 16px;
}

.span-date{
    font-weight: 600; 
    display: block; 
    overflow: hidden; 
}

.div-noticia {
    margin-top: 1rem; 
    border-width: 2px; 
    border-style: solid; 
    border-color: #e7e7e7; 
    border-radius: 0.5rem; 
    background-color: #ffffff; 
}

.img-noticia{
    border-top-left-radius: 0.35rem;
    border-top-right-radius: 0.35rem;
}

.text-enlace {
    color: blue;
    font-weight: 600;
}

.text-enlace:hover {
    color: darkblue;
}

.flex {
    display: flex;
    flex-wrap: wrap; /* Esto permite que los elementos se envuelvan */
    justify-content: space-between; /* Opcional: ajusta la distribución */
}

.w{
    width: 80%;
}

.wn{
    width: 20%;
}

@media (max-width: 1100px) { /* Para dispositivos más pequeños */
    .w {
        width: 100%;
    }
    .wn {
        width: 100%;
        padding-top: 50px;
        padding-right: 25px;
    }
    .img-servicio{
        max-width: 100%;  
        height: auto;     
        display: block;
        margin: 0 auto; 
    }
    .table-styled {
        width: 100%;         
        table-layout: auto;  
        overflow-x: auto;    
        word-wrap: break-word; 
        overflow-wrap: break-word;
    
    }
    .img-noticia {
        max-width: 100%;  
        height: auto;     
    }
    
    .li-servicio {
        flex-direction: column;
        align-items: flex-start;
    }
    .text-servicio {
        margin-left: 0;
    }
}
