
<section>
    <h2 class="text-2xl font-semibold">Ley de Igualdad de Oportunidades para las Personas con Discapacidad, Ley No. 7600</h2>
    <p class="mt-2 text-base"> Como parte de los objetivos de la comisión está el velar por el cumplimiento de lo estipulado en la Ley de Igualdad de Oportunidades 
        para las Personas con Discapacidad, Ley No. 7600 y su reglamento.<br/>La Ley No. 7600 de Costa Rica, tiene como objetivo garantizar la igualdad de oportunidades 
        y la no discriminación para las personas con discapacidad. La ley define discapacidad e incluye medidas para eliminar barreras arquitectónicas y de comunicación, 
        asegurar el acceso a una educación inclusiva y promover la igualdad de oportunidades en el ámbito laboral. Además, establece la obligación de proporcionar 
        servicios de apoyo y servicios médicos, psicológicos, educativos y de rehabilitación. </p>
    <div class="mt-4">
        <h2 class="text-2xl text-gray-600 font-bold text-center">ENLACES DE INTERÉS</h2>
        <div class="accordion-heading" id="f1">Acordion 1 <span class="pull-right up-icon"> <i class="fa fa-chevron-up"></i></span></div>
        <div class="accordion-content" *ngIf="id === 'f1'">Loren de la madre no se que tanto dice solo sirva por fa</div>
    </div>
   

</section>
