<h2>Solicitudes</h2>
<p>Información sobre Solicitudes</p>
<h2>¿Cómo hacer una solicitud?</h2>
<p>Información sobre el proceso</p>
<p>En la oficina de la comisión de su sede, puede solicitar una reunión con un representante que evaluará su situación y
    le ayudará a llenar la <a
        href="https://drive.google.com/file/d/1JbXG1Rj53L8EeCLCM85ZWHIiWVFboxPH/view?usp=sharing">ficha de
        solicitud</a>. Una vez completada, se procesará su petición.</p>
<p>También puede solicitar la reunión si completa el
    <a routerLink="/formulario-solicitud">formulario de solicitud</a>. Se le indicará la fecha por correo electrónico.
</p>

<h2>Denuncias</h2>
<p>El proceso de denuncia se divide en las siguientes tres fases:</p>
<ol>
    <li>El denunciante completa la
        boleta de denuncia
        correspondiente por
        incumplimiento a normativa
        en discapacidad y
        accesibilidad.</li>
    <li>La denuncia es estudiada
        e investigada por el
        Programa Institucional de
        Equiparación de
        Oportunidades. En caso
        necesario, se consulta con
        la Comisión Institucional de
        Salud Ocupacional (CISO),
        la Clínica de Atención en
        Salud Integral (CAIS) o el
        Departamento de Recursos
        Humanos.</li>
    <li>El Programa emite la
        resolución correspondiente
        en los plazos establecidos y
        envía un oficio con la
        resolución a las partes
        involucradas.</li>
</ol>
<h2>¿Cómo hacer una denuncia?</h2>

<p>Puede hacer llegar la ficha de denuncia a la comisión de dos maneras distintas: 
    la primera es llenar el <a routerLink="/formulario-denuncia">formulario de denuncia</a>;
     la segunda, imprimir y entregar la ficha en la oficina. Para ello, imprima y
      complete la ficha correspondiente:
    </p>
    <ul>
    <li><a href="https://drive.google.com/file/d/1iJRFj9JjJcsuGlT-Rde_u3VY2a_MbD59/view">Ficha de denuncia para
            visitantes</a></li>
    <li><a href="https://drive.google.com/file/d/1mqsngYFrsXPjUJPiyE2b2LhYLw_w4O1C/view">Ficha de denuncia para
            estudiantes</a></li>
    <li><a href="https://drive.google.com/file/d/11Jh6trRhGd6CB1opwCi6uebnC-73dh49/view">Ficha de denuncia para
            funcionarios</a></li>


