<div>
  <div class="header">
    <h2 class="mb-2 mt-0 text-xl md:text-2xl">Proceso de Denuncia por parte de un Estudiante</h2>
  </div>
  <img src="../assets/Denduncia_estudiante.png"
    alt="Diagrama describiendo los pasos de denuncia de parte de un estudiante" />
  <a [routerLink]="['/syd']" aria-label="Ir a Solicitudes y Denuncias por más detalles (abre en esta pestaña)">Ver
    detalles de Denuncia por Estudiante</a>
  <div class="header">
    <h2 class="mb-2 mt-4 text-xl md:text-2xl">Proceso de Denuncia por parte de un Funcionario</h2>
  </div>
  <img src="../assets/Diagrama_funiconario.png"
    alt="Diagrama describiendo los pasos de denuncia de parte de un funcionario" />
  <a [routerLink]="['/syd']" aria-label="Ir a Solicitudes y Denuncias por más detalles (abre en esta pestaña)">Ver
    detalles de Denuncia por Funcionario</a>
  <div class="header">
    <h2 class="mb-2 mt-4 text-xl md:text-2xl">Proceso de Denuncia por parte de un Visitante</h2>
  </div>
  <img src="../assets/Diagrama_visitante.png"
    alt="Diagrama describiendo los pasos de denuncia de parte de un visitante" />
  <a [routerLink]="['/syd']" aria-label="Ir a Solicitudes y Denuncias por más detalles (abre en esta pestaña)">Ver
    detalles de Denuncia por Visitante</a>
  <div class="header">
    <h2 class="mb-2 mt-4 text-xl md:text-2xl">Proceso de Solicitud de acompañamiento de parte del Programa</h2>
  </div>
  <img src="../assets/Diagrama_acompannamiento.png"
    alt="Diagrama describiendo los pasos de una solicitud de acompañamiento" />
</div>
