<div>
  <div class="header">
    <h2 class="mb-2">Proceso de Denuncia por parte de un Estudiante</h2>
  </div>
  <img src="../assets/Denduncia_estudiante.png"
    alt="Diagrama describiendo los pasos de denuncia de parte de un estudiante" />
  <div class="header">
    <h2 class="mb-2 mt-4">Proceso de Denuncia por parte de un Funcionario</h2>
  </div>
  <img src="../assets/Diagrama_funiconario.png"
    alt="Diagrama describiendo los pasos de denuncia de parte de un funcionario" />
  <div class="header">
    <h2 class="mb-2 mt-4">Proceso de Denuncia por parte de un Visitante</h2>
  </div>
  <img src="../assets/Diagrama_visitante.png"
    alt="Diagrama describiendo los pasos de denuncia de parte de un visitante" />
  <div class="header">
    <h2 class="mb-2 mt-4">Proceso de Solicitud de acompañamiento de parte del Programa</h2>
  </div>
  <img src="../assets/Diagrama_acompannamiento.png"
    alt="Diagrama describiendo los pasos de una solicitud de acompañamiento" />
</div>
