h2{
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 12px;
}
div.header{
  padding-left: 8px;
  background-color: #105c7c;
  border-top-right-radius: 24px ;
  border-bottom-right-radius: 24px;
  width: 24rem /* 384px */;
}
