<nav class="bg-tec-blue p-4">
  <div class="logo">
    <img src="../assets/logo.svg" alt="Logo del Tecnologico de Costa Rica" class="pl-3"/>
  </div>
  <label for="btn" class="icon" role="button" aria-label="Abrir menú de navegación"> 
      <span class="fas fa-bars fa-light"></span>
  </label>
  <input type="checkbox" id="btn">
  <ul>
    @if(show()){
    <li><a class="h_options" href="/info">Cerrar Sesión</a></li>
    }@else{
    <li><a class="h_options" href="/login">Administradores</a></li>
    }
    <li>
      <label for="btn-1" class="show">Contraste</label>
      <a class="h_options" href="#">Contraste</a>
      <input type="checkbox" id="btn-1">
      <ul>
        <li><a href="#" (click)="changeStyle('normal')">Normal</a></li>
        <li><a href="#" (click)="changeStyle('high')">Alto</a></li>
      </ul>
    </li>
  </ul>
</nav>
