<nav class="bg-tec-blue p-4">
  <div class="logo">
    <img src="../assets/Logo .png" alt="Logo del Tecnologico de Costa Rica" class="pl-3"/>
  </div>
  <label for="btn" class="icon">
      <span class="fas fa-bars fa-light"></span>
  </label>
  <input type="checkbox" id="btn">
  <ul>
    <li><a href="/login">Administradores</a></li>
    <li>
      <label for="btn-1" class="show">Contraste</label>
      <a href="#">Contraste</a>
      <input type="checkbox" id="btn-1">
      <ul>
        <li><a href="#">Normal</a></li>
        <li><a href="#">Invertido</a></li>
        <li><a href="#">Oscuro</a></li>
        <li><a href="#">De luz</a></li>
      </ul>
    </li>
  </ul>
</nav>
