span.requerido {
    color: red;
    font-size: 1.2em; 
    margin-left: 2px; 
  }
  
span.oculto {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  } 
a {
    color: blue;
    font-weight: bold;
    text-decoration: underline;
}

a:hover {
    color: darkblue;
    text-decoration: none;
}

h2 {
    color: #333;
    font-weight: bold;
}

h3 {
    color: #333;
    font-weight: bold;
}

.personalizado {
    font-size: 18px;
    color: #333;
}

ul {
    list-style-type: disc;
    padding-left: 25px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 850px;
    margin-left: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

fieldset{
    display: flex;
    flex-direction: column;

}
.aviso {
    color: red;
    padding-top: 10px;
    font-size: 16px;
}

input, textarea,
select {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

textarea.alto{
    height: 100px;
}
input, select {
    margin-bottom: 5px;
}

button {
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 150px;
    margin: 20px auto 0;
    display: block;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #007bff;
    opacity: 0.5;
    cursor: not-allowed;
}

.form {
    display: flex;
    flex-direction: column;

}

.checkbox label {
    margin-left: 5px;
   
}

