<main></main>
  <div class="bg-tec-red pt-2">
    <div class="bg-tec-blue p-4">
      <img src="../assets/Logo .png" alt="Logo del Tecnologico de Costa Rica" class="pl-3"/>
    </div>
  </div>
  <div class="bg-tec-title text-center mt-12 p-4">
    <div class=" text-white text-3xl md:text-4xl lg:text-5xl font-semibold mx-40">
      <h1>Comisión Institucional de Equiparación de Oportunidades para Personas con Discapacidad</h1>
    </div>
  </div>
  <div class="flex mt-10 pl-10">
    <nav class="flex">
      <app-sidenav></app-sidenav>
    </nav>
    <div class="flex-1 pr-10 pl-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>