<main>
  <header class="bg-tec-red pt-2">
    <app-top-nav></app-top-nav>
  </header>
  
  <div class="bg-tec-title text-center mt-12 p-4 titulo">
    <div class=" text-white text-3xl md:text-4xl 2xl:text-5xl font-semibold mx-40">
      <h1>Comisión Institucional de Equiparación de Oportunidades para Personas con Discapacidad</h1>
    </div>
  </div>
  <div class="flex mt-10 pl-10 pr-10 mb-10">
    <nav class="flex">
      <app-sidenav></app-sidenav>
    </nav>
    <div class="flex-1 pl-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
