<main>
  <div class="bg-tec-red pt-2">
    <div class="bg-tec-blue p-4">
      <img src="../assets/Logo .png" alt="Logo del Tecnologico" />
    </div>
  </div>
  <div class="bg-tec-title text-center mt-16 p-4 max-h-40">
    <div class=" text-white 2xl:text-5xl mx-40 md:text-3xl text-xl">
      <h1>Comisión Institucional de Equiparación de Oportunidades para Personas con Discapacidad</h1>
    </div>
  </div>
  <div class="flex mt-4 pl-4">
    <nav class="flex">
      <app-sidenav></app-sidenav>
    </nav>
    <div class="flex-1 p-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>


